.ownStock {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
  }
  
  
  .ownStock > .myStock {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 180px;
 
  }
  .ownStock > .myStock:hover {
    transform: scale(1.05); /* This lifts the card when you hover over it */
    z-index: 2; /* This ensures that the hovered card comes to the front */
}
