.owned-stock-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 55vh;  
  width: 55vw;   
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}


.custom-tooltip {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.tooltip-item {
  margin-bottom: 4px;
}
