.dashboard-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid green;
 
 
}

.stock-chart-container {
    display: flex;
    justify-content: space-between;
    
   
  }
  .graphContainer{
    margin-top: 5%;
    border-bottom: 1px solid green;
    border-bottom: 1px solid green;
}
  
  
  .graphBtn {
    position: absolute;
   
    right: 26%;
    transform: translateY(30%);
    display: flex;
    
  }
  
  .Gbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #11D90B;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
    .stockInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 73%;
      font-size:15px
    }
  
  .symbol{
    
    color: #11d90b
  }

.green-text {
    color: #11d90b;
}

.red-text {
    color: red;
}

.watchlist-section {
 position:absolute;
 left: 78.4%;
 top: 300px;
 height: 39.8%;
 width: 100%;
 border-bottom: 1px solid green;

 
  
}
