.stock-chart-container {
    position: relative;
    display: flex;
   
  }
  .graphContainer{
    margin-top: 5%;
}
  
  
  .graphBtn {
    position: absolute;
   
    right: 26%;
    transform: translateY(30%);
    display: flex;
    
  }
  
  .Gbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #11D90B;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
    .stockInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 73%;
      font-size:15px
    }
  
  .symbol{
    
    color: #11d90b
  }

.green-text {
    color: #11d90b;
}

.red-text {
    color: red;
}
