body{
    background-color: rgb(82, 78, 78);
}

.welcome{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    color: rgb(8, 206, 8);
}

.fade-in-text {
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn 2.5s;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.fa{
    font-size: 250px;
    margin-bottom: 60px;
    color: green;
    cursor: pointer;
}
