/* .search-res-modal {
    max-height: 300px;
    overflow-y: scroll;
  }

  .search-res-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  } */

  .search-res-modal {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    max-height: 300px;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5)
  }
  
  .search-res-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    gap: 1rem; 
    padding: 1rem;
  }
